<div class="root">
    {{>user-header}}
    <div class="container">
        <div class="row">
            <div class="col-12 sm-12 md-6 lg-4 xl-3" style="padding-top: 40px;">

                {{#if products}}
                {{#each products}}
                <div class="card" style="width: 18rem; display: inline-block; padding: 20px;">
                    <img src="/images/product-images/{{this._id}}.jpg" class="card-img-top" style="height: 250px;"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> {{this.name}} </h5>
                        <h6 class="card-title"> {{this.brand}} </h6>
                        <p class="card-text"> {{this.description}} </p>
                        <button class="btn btn-primary" style="width: 100%;"
                            onclick="addToCart('{{this._id}}') ">{{this.price}}</button>
                    </div>
                </div>
                {{/each}}
                {{/if}}

            </div>
        </div>
    </div>
</div>
<style>
    .card {
        margin-top: 40px;
        spacer
    }

    .card:hover {}

    .root {
        background: #9053c7;
        background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
        background: -o-linear-gradient(-135deg, #c850c0, #4158d0);

        min-height: 100vh;
        height: auto;
    }
</style>

<script src="/javascripts/script.js"></script>